# Python artifacts
__pycache__/
.venv/

# UV artifacts
*.egg-info/

# Kubernetes configuration files
ahaz_data/kubectl/*
!ahaz_data/kubectl/config.example.yml

# OpenVPN certificates
ahaz_data/certs/*
!ahaz_data/certs/.gitkeep

# MySQL database files
ahaz_data/mysqldb/mysqldb_volume/*

# Redis data files
ahaz_data/redis/*
!ahaz_data/redis/.gitkeep

# Docker Compose override
docker-compose.override.yaml