services:
  k8s_controller:
    depends_on:
      k8s_controller_db:
        condition: service_started
    build:
      context: .
      dockerfile: ./Dockerfile.controller
    ports:
      - "5000:5000"
    volumes:
      - ./ahaz_data/certs/:/certdir
      - ./ahaz_data/kubectl:/.kube/
    environment:
      CERT_DIR_HOST: ${PWD}/ahaz_data/certs/
      CERT_DIR_CONTAINER: "/certdir/"
      DB_IP: "10.33.0.3"
      DB_DBNAME: "ahaz"
      DB_USERNAME: "dbeaver"
      DB_PASSWORD: "dbeaver"
      PUBLIC_DOMAINNAME: "ahaz.lan"
      K8S_IP_RANGE: "10.42.0.0 255.255.255.0"
      VERBOSE: "True"
      TEAM_PORT_RANGE_START: 31000
      TEAM_BACKUP_PORT_RANGE_START: 30500
      TEAM_BACKUP_PORT_RANGE_END: 30999
      LOGLEVEL: "DEBUG"
    networks:
      ahaz_db_connection:
        ipv4_address: 10.33.0.2
      #db_connection:
      #  ipv4_address: 10.13.0.5
      default:
  #k8s_controller_page:
  #  depends_on:
  #    k8s_controller:
  #      condition: service_started
  #  build: "./controller_page"
  #  environment:
  #    DB_IP: "10.13.0.3"
  #    DB_DBNAME: "ahaz"
  #    DB_USERNAME: "dbeaver"
  #    DB_PASSWORD: "dbeaver"
  #    PUBLIC_DOMAINNAME: "test.lan"
  #  networks:
  #    db_connection:
  #      ipv4_address: 10.13.0.4
  #    default:
  #  ports:
  #    - "5001:5000"
  k8s_controller_db:
    image: mysql
    volumes:
      - ./ahaz_data/mysqldb/mysqldb_volume:/var/lib/mysql
      - ./ahaz_data/mysqldb/init.sh:/docker-entrypoint-initdb.d/init.sh
    environment:
      MYSQL_ROOT_PASSWORD: "shooch4SXe2iech9Aiv1do0pISuh8xeaahDe3WoTvoowae4Xahl0eZ1NDutaegh2"
      MYSQL_DATABASE: "ahaz"
      MYSQL_USER: "dbeaver"
      MYSQL_PASSWORD: "dbeaver"
    networks:
      ahaz_db_connection:
        ipv4_address: 10.33.0.3
      default:
    ports:
      - "3306:3306"
networks:
  ahaz_db_connection:
    driver: bridge
    #external: true
    internal: true
    ipam:
      config:
        - subnet: "10.33.0.0/29"
  # db_connection:
  #   name: db_connection
  #   external: true
  default:
