{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="container">
    <form action="/register/team" method="post">
        <input name="teamname" type="text" class="btn btn-sm btn-outline-light ml-auto">
        <button type="submit" class="btn btn-sm btn-outline-light ml-auto">Register Team</button>
    </form>
    </div>
    <div class="container">
    <form action="/register/user" method="post">
        <input name="username" type="text" class="btn btn-sm btn-outline-light ml-auto">
        <select name="teamname" class="form-select btn btn-sm btn-outline-light ml-auto">
            {% for i in teams %}
            <option value={{i["name"]}}>{{i["name"]}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-sm btn-outline-light ml-auto">Register User</button>
    </form>
    </div>
</div>
{% endblock %}