<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HackerThemes/theme-machine@latest/dist/neon-glow/css/bootstrap4-neon-glow.min.css">
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="/teams">Teams</a></li>
                <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="/users">Users</a></li>
            </ul>
        </div>

    </nav>
    <br>
    {% block content %}{% endblock %}
    </body>
</html>