{% extends "base.html" %}
{% block content %}
<!--<style>.body { margin-top: 3vh; }</style>-->
<div class="container body">
    <h2>Pod controller</h2> 
</div>
<div class="container">
    <h1>start challenge</h1>
    <form action="/teams/start_challenge" method="post">
        <select name="teamname" class="btn btn-sm btn-outline-light ml-auto">
            {% for i in teams %}
            <option value={{i["name"]}}>{{i["name"]}}</option>
            {% endfor %}
        </select>
        <select name="challengename" class="btn btn-sm btn-outline-light ml-auto">
            {% for i in challenges %}
            <option value={{i[0]}}>{{i[0]}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="start challenge" class="btn btn-sm btn-outline-light ml-auto">
    </form>
</div>
<div class="container">
    <table class="table table-stripped align-middle">
        <thead>
            <tr>
                <th class="text-md-start">Id</th>
                <th class="d-none d-md-table-cell">name</th>
                <th class="d-none d-md-table-cell">port</th>
                <th class="d-none d-md-table-cell">internalIP</th>
                <th class="d-none d-md-table-cell">getOVPN config</th>
                <th class="d-none d-md-table-cell"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in teams %}
            <tr>
                <td><p>{{i["id"]}}</p></td>
                <td><p>{{i["name"]}}</p></td>
                <td><p>{{i["port"]}}</p></td>
                <td><p>{{i["internalIP"]}}</p></td>
                <td>
                    <form action="/teams/get_ovpn_cert" method="post">
                        <input name="teamname" value={{i["name"]}} type="hidden">
                        <button type="submit" class="btn btn-sm btn-outline-light ml-auto">get user .ovpn config</button>
                    </form>
                </td>
                <td>
                    {% if i["containers"] %}
                    <table>
                        <thead>
                            <th>name</th>
                            <th>status</th>
                            <th>ip</th>
                            <th>Terminate</th>
                            <th>Reboot</th>
                        </thead>
                        <tbody>
                        {% for j in i["containers"] %}
                            <tr>
                                <td>{{j["name"]}}</td>
                                <td>{{j["status"]}}</td>
                                <td>{{j["ip"]}}</td>
                                <td>
                                    <form action="/teams/stop_challenge" method="post">
                                        <input name="teamname" value={{i["name"]}} type="hidden">
                                        <input name="challengename" value={{j["name"]}} type="hidden">
                                        <button type="submit" class="btn btn-danger btn-sm btn-outline-light ml-auto">Terminate</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/teams/reboot_challenge" method="post">
                                        <input name="teamname" value={{i["name"]}} type="hidden">
                                        <input name="challengename" value={{j["name"]}} type="hidden">
                                        <button type="submit" class="btn btn-success btn-sm btn-outline-light ml-auto">Reboot</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</div>
{% endblock %}