# Make a valkey deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ahaz-k8s-controller.fullname" . }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ahaz-k8s-controller.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "ahaz-k8s-controller.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: redis
  template:
    metadata:   
      labels:
        {{- include "ahaz-k8s-controller.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: redis
    spec:
      containers:
        - name: redis
          image: "valkey/valkey:alpine3.22"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
              name: redis
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          emptyDir: {}
---
# Make a valkey service for the redis deployment
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ahaz-k8s-controller.fullname" . }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ahaz-k8s-controller.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    {{- include "ahaz-k8s-controller.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis