{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
    name: {{ include "ahaz-k8s-controller.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
    labels:
        {{- include "ahaz-k8s-controller.labels" . | nindent 8 }}
{{- end }}
---
# Add ClusterRole and ClusterRoleBinding to allow the controller to manage namespaces
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: {{ include "ahaz-k8s-controller.fullname" . }}-namespace-manager
rules:
    - apiGroups: [""]
      resources: ["namespaces"]
      verbs: ["create", "get", "list", "delete"]
    # FIXME: Bad hack for MCTF25; figure out how to watch pods only in managed namespaces
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: {{ include "ahaz-k8s-controller.fullname" . }}-namespace-manager-binding
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: {{ include "ahaz-k8s-controller.fullname" . }}-namespace-manager
subjects:
    - kind: ServiceAccount
      name: {{ include "ahaz-k8s-controller.serviceAccountName" . }}
      namespace: {{ .Release.Namespace }}
---
# Make sure that all namespaces created by the controller have a specific label
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: add-namespace-label
spec:
    background: false
    rules:
        - name: add-managed-by-label
          match:
            any:
                - resources:
                    kinds:
                        - Namespace
                    operations:
                        - CREATE
                  subjects:
                    - kind: ServiceAccount
                      name: {{ include "ahaz-k8s-controller.serviceAccountName" . }}
                      namespace: {{ .Release.Namespace }}
          mutate:
            patchStrategicMerge:
                metadata:
                    labels:
                        managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
---
# Make sure that the service account may only delete namespaces it created
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: restrict-namespace-deletion
spec:
    validationFailureAction: Enforce
    background: false
    rules:
        - name: restrict-namespace-deletion-to-managed
          match:
            any:
                - resources:
                    kinds:
                        - Namespace
                    operations:
                        - DELETE
                  subjects:
                    - kind: ServiceAccount
                      name: {{ include "ahaz-k8s-controller.serviceAccountName" . }}
                      namespace: {{ .Release.Namespace }}
          validate:
            message: "You can only delete namespaces managed by the ahaz-k8s-controller."
            pattern:
                metadata:
                    labels:
                        managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
---
# Create default NetworkPolicy in managed namespaces to deny all traffic
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: default-network-policy
spec:
    rules:
        - name: add-default-network-policy
          match:
            any:
                - resources:
                    kinds:
                        - Namespace
                    selector:
                        matchLabels:
                            managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
                    operations:
                        - CREATE
          generate:
            apiVersion: networking.k8s.io/v1
            kind: NetworkPolicy
            name: default-deny-all
            namespace: "{{`{{request.object.metadata.name}}`}}"
            synchronize: true
            data:
                spec:
                    podSelector: {}
                    policyTypes:
                        - Ingress
                        - Egress
---
# Prevent deletion of the default NetworkPolicy in managed namespaces
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: prevent-default-network-policy-deletion
spec:
    validationFailureAction: Enforce
    rules:
        - name: prevent-deletion-of-default-network-policy
          match:
            any:
                - resources:
                    kinds:
                        - NetworkPolicy
                    names:
                        - default-deny-all
                    namespaceSelector:
                        matchLabels:
                            managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
                    operations:
                        - DELETE
          validate:
            message: "The default NetworkPolicy 'default-deny-all' cannot be deleted in managed namespaces."
            pattern:
              metadata:
                name: "default-deny-all"
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: restrict-pod-security
spec:
    validationFailureAction: Enforce
    rules:
        - name: restrict-privileged-containers
          match:
            any:
                - resources:
                    kinds:
                        - Pod
                    namespaceSelector:
                        matchLabels:
                            managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
                    operations:
                        - CREATE
                        - UPDATE
          validate:
            message: "Privileged containers are not allowed."
            deny:
              conditions:
                any:
                - key: "{{`{{request.object.spec.containers[].securityContext.privileged || 'false'}}`}}"
                  operator: Equals
                  value: true
---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
    name: {{ include "ahaz-k8s-controller.fullname" . }}-resource-manager-policy
spec:
    rules:
        - name: generate-role-for-managed-namespaces
          match:
            any:
                - resources:
                    kinds:
                        - Namespace
                    selector:
                        matchLabels:
                            managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
                    operations:
                        - CREATE
          generate:
            apiVersion: rbac.authorization.k8s.io/v1
            kind: Role
            name: resource-manager
            namespace: "{{`{{request.object.metadata.name}}`}}"
            synchronize: true
            data:
                rules:
                    - apiGroups: [""]
                      resources: ["pods", "services", "configmaps", "secrets"]
                      verbs: ["create", "get", "list", "watch", "update", "patch", "delete"]
                    - apiGroups: ["networking.k8s.io"]
                      resources: ["networkpolicies"]
                      verbs: ["create", "get", "list", "watch", "update", "patch", "delete"]
                    - apiGroups: [""]
                      resources: ["serviceaccounts"]
                      verbs: ["patch", "update"]
        - name: generate-rolebinding-for-managed-namespaces
          match:
            any:
                - resources:
                    kinds:
                        - Namespace
                    selector:
                        matchLabels:
                            managed-by: "{{ .Values.controller.namespace.managedByLabelValue }}"
                    operations:
                        - CREATE
          generate:
            apiVersion: rbac.authorization.k8s.io/v1
            kind: RoleBinding
            name: resource-manager-binding
            namespace: "{{`{{request.object.metadata.name}}`}}"
            synchronize: true
            data:
                roleRef:
                    apiGroup: rbac.authorization.k8s.io
                    kind: Role
                    name: resource-manager
                subjects:
                    - kind: ServiceAccount
                      name: {{ include "ahaz-k8s-controller.serviceAccountName" . }}
                      namespace: {{ .Release.Namespace }}