name: Build and Push Docker Image
on:
  push:
    tags:
      - "v*.*.*" # Trigger on version tags, e.g., v1.0.0

jobs:
  build-controller:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.controller
          push: true
          tags: ghcr.io/martina-ctf/ahaz:${{ github.ref_name }},ghcr.io/martina-ctf/ahaz:latest
